<div class="header-mobile-menu__photo">
  <img src="img/sidebar/sidebar.jpg" >
</div>
 <div class="header-mobile-menu-main-information">
  <div class="header-mobile-menu__avatar">
    <img src="img/sidebar/photo.jpg">  
  </div>
  
  <div class="header-mobile-menu__info">
    <div class="header-mobile-menu__name">Дмитрий Валак</div>
    <div class="header-mobile-menu__about">блог front-end разработчика</div>
  </div>
 </div>

<div class="header-mobile-menu__items">
    <div class="header-mobile-menu__item">
      <a href="link2" class="header-mobile-menu__item-link">
        <div class="header-mobile-menu__item-text">СТАТЬИ</div>
      </a>

      <div class="header-mobile-dropdown">
        <div class="header-mobile-dropdown__items">
          <div class="header-mobile-dropdown__item"><a href="article-link 1"><div class="header-mobile-dropdown__item-text">Создание сайтов</div></a></div>
          <div class="header-mobile-dropdown__item"><a href="article-link 2"><div class="header-mobile-dropdown__item-text">Интернет-маркетинг</div></a></div>
          <div class="header-mobile-dropdown__item"><a href="article-link 3"><div class="header-mobile-dropdown__item-text">Продвижение видео</div></a></div>
        </div>
      </div>
    </div>
    
    <div class="header-mobile-menu__item"><a href="#link3">ОБО МНЕ</a></div>
    <div class="header-mobile-menu__item"><a href="#link4">РЕКЛАМА</a></div>
    <div class="header-mobile-menu__item"><a href="#link5">ПРОФИЛЬ</a></div>
</div>

<div class="header-mobile-menu__buttons">
  <button type="button"  class="header-mobile-menu__button header-mobile-menu--portfolio">Мои работы</button>
  <button type="button"  class="header-mobile-menu__button header-mobile-menu--contact-me">Написать мне</button>
 </div>