
<div class="header-menu">
  <div class="header-menu__items">

    <div class="header-menu__burger">
      <img src="img/burger.png">
     </div>

    <div class="header-menu__item header-menu__item-first"><a href="index.html">ГЛАВНАЯ</a></div>

    <div class="header-menu__item header-menu__item--blue">
      <a href="link2" class="header-menu__item-link">
        <div class="header-menu__item-text">СТАТЬИ</div>
        <div class="header-menu__item-triangle"></div> 
      </a>

      <div class="header-dropdown">
       <div class="header-dropdown__items">
         <div class="header-dropdown__item"><a href="article-link 1">Создание сайтов</a></div>
         <div class="header-dropdown__item"><a href="article-link 2">Интернет-маркетинг</a></div>
         <div class="header-dropdown__item"><a href="article-link 3">Продвижение видео</a></div>
        </div>
      </div>
    </div>
    
    <div class="header-menu__item"><a href="#link3">ОБО МНЕ</a></div>
    <div class="header-menu__item"><a href="#link4">РЕКЛАМА</a></div>
    <div class="header-menu__item header-menu__item--last"><a href="profile.html">ПРОФИЛЬ</a></div>

    <div class="header-search">
      <div class="header-search__text">
        <form>
          <input class="header-search__text-input" type="text" placeholder="Поиск по блогу" >
        </form>
      </div>
    </div>
  </div>
</div>


