<div class="posts">
  <div class=" post">
    <div class="post__text post__text-one">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit.
       Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam id. 
       Diam sit sed volutpat massa. Egestas ornare vel volutpat.
    </div>
    <div class="post__downline">
      <div class="post__downline-date">21.06.2020</div>
    </div> 
  </div>
  
  <div class="post">
    <div class="post__photo" style="background-image: url(img/posts/post-two.jpg)"></div>
    <div class="post__headline">Как писать код быстро и безболезненно?</div>
    <div class="post__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. 
      Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa.
      Egestas ornare vel volutpat.
    </div>
    <div class="post__downline">
      <partial src="posts/post__downline.html" date="21.06.2020" information="создание сайтов" read-more="читать" />
    </div>
  </div>

  <div class="post">
    <div class="post__photo" style="background-image: url(img/posts/post-three.jpg)">
      <div class="post__photo-player"><img src="img/posts/Vector.png"></div>
    </div>
    <div class="post__headline">Купил новый ноутбук за 150 000 руб</div>
    <div class="post__downline">
      <partial src="posts/post__downline.html" date="21.06.2020" information="продвижение видео" read-more="оставить комментарий" />
    </div>
  </div> 
  
  <div class="post">
    <div class="post__photo" style="background-image: url(img/posts/post-four.jpg)"></div>
    <div class="post__headline">Как я сходил на FrontEnd Conf 2021</div>
    <div class="post__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
       Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. 
       Sagittis porttitor orci auctor in at tincidunt arcu egestas.
       Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.</div>
    <div class="post__downline">
      <partial src="posts/post__downline.html" date="21.06.2020" information="создание сайтов" read-more="читать"/>
    </div>
  </div>

</div>
