.storis__video.is-show {
  background-color: rgba(0, 0, 0, 0.816);
  width: 100%;
  height: 100%;
  z-index: 2;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storis__video {
  display: none;
}

.storis__video__item {
  width: 80%;
  margin: 0 auto;
}

 video {
  width: 100%;
}


