.sidebar__avatar {
  border: 3px solid #FFFFFF;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.25);
  border-radius: 100%;  
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  
}

.sidebar__avatar img {
  position: absolute;
  left: 50%; /* +40px */
  top: 50%; /* +40px */
  transform: translate(-50%, -50%); /* -65px, -50px */
  width: 150px;
}