<div class="contact-mobal__body">
  <div class="contact-mobal__close">
    <img src="img/close.png">
  </div>
  <div class="contact-mobal__content">
    <div class="contact-mobal__name">
      <p>Дмитрий Валак</p>
      <hr>
    </div>
    <div class="contact-mobal__e-mail">
      <p>Ваш e-mail</p>
      <hr>
    </div>
    <div class="contact-mobal__massage">
      <p>Текст сообщения</p>
      <hr>
    </div>
    <button class="button">Отправить</button>
    <div class="contact-mobal__contact-information">
      <div class="text1">e-mail: info@mywebsite.ru</div><div class="text2">тел: +943-232-856-22</div>      
    </div>
  </div>
</div>