<div class="contact-mobal__body">
  <div class="contact-mobal__close">
    <img src="img/close.png">
  </div>
  <div class="contact-mobal__content">
    <div class="contact-mobal__name">
      <form>
        <input type="text" placeholder="Ваше имя" class="contact-mobal__text-input">
      </form>
    </div>
    <div class="contact-mobal__e-mail">
      <form>
        <input type="text" placeholder="Ваш e-mail" class="contact-mobal__text-input">
      </form>
    </div>
    <div class="contact-mobal__massage">
      <form>
        <input type="text" placeholder="Текст сообщения" class="contact-mobal__text-input">
      </form>
    </div>
    <button class="contact-mobal__button" type="button" onclick="alert('send')" >Отправить</button>
    <div class="contact-mobal__contact-information">
      <div class="contact-mobal__text1">e-mail:<line>info@mywebsite.ru</line></div><div class="text2">тел:<line> +943-232-856-22</line></div>      
    </div>
  </div>
</div>