<div class="page-navigation__items">
  <div class="page-navigation__item">
    <div class="page-navigation__item-text">
      <a href="#page0" ><</a></div>
    </div>
    <div class="page-navigation__item">
      <div class="page-navigation__item-text"><a href="#page1" >1</a></div>
    </div>
    <div class="page-navigation__item page-navigation__item-blue">
      <div class="page-navigation__item-text"><a href="#page2" >2</a></div>
    </div>
    <div class="page-navigation__item">
      <div class="page-navigation__item-text"><a href="#page3" >3</a></div>
    </div>
    <div class="page-navigation__item">
      <div class="page-navigation__item-text"><a href="#page4" >></a></div>
    </div>
  </div>
</div>
