
  <div class="page-navigation__items">
    <div class="page-navigation__item">
      <div class="page-navigation__item-text"><</div>
      </div>
    <div class="page-navigation__item">
      <div class="page-navigation__item-text">1</div>
    </div>
    <div class="page-navigation__item page-navigation__item-blue">
      <div class="page-navigation__item-text">2</div>
    </div>
    <div class="page-navigation__item">
      <div class="page-navigation__item-text">3</div>
    </div>
    <div class="page-navigation__item">
      <div class="page-navigation__item-text">></div>
    </div>
  </div>
