<div class="posts">
  <div class=" posts__post posts__post-one">
    <div class="post-text post-text-one">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit.
       Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam id. 
       Diam sit sed volutpat massa. Egestas ornare vel volutpat.</div>
        <div class="post-date post-date-one">21.06.2020</div>
  </div>
  <div class="posts__post posts__post-two">
  
  </div>
  <div class="posts__post posts__post-three">
  
  </div>
  <div class="posts__post posts__post-four">
  </div>

</div>