<div class="profile-content">
  <div class="profile-content__headerline">Профиль</div>
  <div class="profile-content__fonctions">
    <form class="profile-content__items-input">
      <input class="profile-content__item-input active" type="text" placeholder="Ваше имя" >
      
      <input class="profile-content__item-input active" type="email" placeholder="Ваш e-mail">
       
      <input class="profile-content__item-input" type="password" placeholder="Новый пароль">
        
      <input class="profile-content__item-input" type="password" placeholder="Подтвердите пароль">
        
      <button type="button" class="profile-content__button" onclick="(alert('save'))" > <div class="button-text"> Сохранить</div></button>
    </form>
    <div class="profile-content__photo-part">
      <div class="photo-part__photo">
        <img src="img/profile/profile.png">
      </div>
      <label><div class="photo-part__text">выбрать аватар</div>
        <input type="file">
      </label>
    </div>
  </div>
</div>