<div class="profile-content">
  <div class="profile-content__headerline">Профиль</div>
  <div class="profile-content__fonctions">
    <div class="profile-content__items-input">
      <div class="profile-content__item-input active">
        Александр Провостин
        <hr>
      </div>
      <div class="profile-content__item-input active">
        alex.provo@mail.com
        <hr>
      </div>
      <div class="profile-content__item-input">
        Новый пароль
        <hr>
      </div>
      <div class="profile-content__item-input">
        Подтвердите пароль
        <hr>
      </div>
      <button class="profile-content__button" > <div class="button-text"> Сохранить</div></button>
    </div>
    <div class="profile-content__photo-part">
      <div class="photo-part__photo">
        <img src="img/profile/profile.png">
      </div>
      <div class="photo-part__text">выбрать  аватар</div>
    </div>
  </div>
</div>