<div class="storis__items">
  <div class="storis__item">
    <img class="storis__item-one" src="img/storis/storis-item-one.jpg">
    <div class="storis__item-text">Отдыхаю на природе</div>
    <div class="storis__item-date">21.09.2020</div>
  </div>
  <div class="storis__item">
    <img class="storis__item-two" src="img/storis/storis-item-two.jpg">
    <div class="storis__item-text">Заканчиваю
      сложный проект</div>
    <div class="storis__item-date">15.09.2020</div>
  </div>
  <div class="storis__item">
    <img src="img/storis/storis-item-three.jpg">
    <div class="storis__item-text">Переехал в новую
      квартиру</div>
    <div class="storis__item-date">11.09.2020</div>  
  </div>
  <div class="storis__item">
    <img src="img/storis/storis-item-four.jpg">
    <div class="storis__item-text">Осень пришла!</div>
    <div class="storis__item-date">28.08.2020</div>
  </div>
</div>