<div class="storis__video">
  <div class="storis__video-content">
    <div class="storis__video__item">
      <video id="video" class="storis__video__item-video" src="videos/video.mp4" controls autoplay muted loop></video>
    </div>
    <div id="video-controls" data-state="hidden">
      <button type="button" data-state="play" class="play/pause">Play/Pause</button>
      <progress class="progress" value="0" min="0" >
        <span class="progress-bar" ></span>
      </progress>
    </div>
  </div>
</div>
