.contact-mobal.is-open {
  z-index: 2;
  background-color: rgba(42, 43, 43, 0.574);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-mobal {
  display: none;
}


.contact-mobal__body {
  display: flex;
  flex-direction: column;
  background: rgba(32, 32, 32, 1);
  width: 500px;
  height: 430px;
}

.contact-mobal__content {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 150px;
  margin: 0 auto;
}

.contact-mobal__close {
  position: relative;
  padding: 20px 20px 0 0;
  margin-left: auto;
  cursor: pointer;
}

.contact-mobal__name p {
  color: rgb(255, 255, 255);
}

.contact-mobal__button {
  width: 90px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgba(49, 55, 201, 1);
  border: none;
  box-shadow: 0px 4px 15px -7px rgba(48, 55, 201, 0.3);
  margin-top: 25px;
  font-size: 12px;
  line-height: 14px;
  padding: 8px 15px;
  cursor: pointer;
}

.contact-mobal__contact-information {
  margin: 40px 0 25px ;
  font-size: 12px;
  line-height: 16px;
  color: #B3B3B3;
  display: flex;
}

.contact-mobal__text1 {
  margin-right: 10px;
}

@media (max-width:750px) {
  .contact-mobal__body {
    width: calc(100% - 60px);
  }

  .contact-mobal__content {
    width: calc(100% - 50px);
  }
}