*:before, *:after, * {
  box-sizing: border-box;
}

body, html {
  margin: 0px;
  font-family: Roboto;
  width: 100%;
}

hr {
  margin: 11px 0 25px;
  border: 0.5px solid rgba(63, 63, 63, 1)
}



 hr:hover {
  border: 0.5px solid rgb(16, 126, 255, 1); 
 }

p {
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.2);
  margin: 0;
  margin-top: 25px;
}