.page {
  display:flex;
  background-color:  rgb(23, 23, 23);
}

.page__sidebar {
  width: 300px;
}

.page__add-post {
  padding: 0 50px;
}

.page__main {
  display: flex;
  flex-direction: column;
  width: calc(100% - 300px);
  min-height: 100vh;
}

.page__header {
  background-color: rgba(13, 13, 13, 1);
}