.page {
  display:flex;
  background-color:  rgb(23, 23, 23);
}

.page__storis {
  overflow: hidden;
}

.page__content {
  margin: 0 50px;
}

@media(max-width:750px) {
  .page__content {
    margin: 0 25px;
  }
}

@media(max-width:450px) {
  .page__content {
    margin: 0 15px;
  }
}

.page__sidebar {
  width: 300px;
}

@media (max-width: 750px) {
  .page__sidebar {
    width: 0%;
  }
}

.page__main {
  display: flex;
  flex-direction: column;
  width: calc(100% - 300px);
  min-height: 100vh;
}

@media(max-width:750px) {
  .page__main {
    width: 100%;
  }
  
}

.page__header {
  background-color: rgba(13, 13, 13, 1);
  height: 40px;
  display: flex;
  flex-direction: column;
}

@media (max-width:850px) {
  .page_storis{
  overflow: auto;
  }
}