.page-navigation {
  margin: 0 50px;
}

.page-navigation__items {
  display: flex;
  margin: 80px 0;
  justify-content: center;
}

.page-navigation__item {
  width: 40px;
  height: 40px;
  background: rgba(13, 13, 13, 1);
  margin: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.page-navigation__item-text{
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.page-navigation__item-blue {
  background-color: #104BE3;
}