.sidebar {
  display: inline-flex;
  flex-direction: column;
  background-color: #202020;
  height: 100%;
  width: 300px;
  box-shadow: 5px 0px 15px rgba(5, 5, 5, 0.1);
}

@media (max-width: 750px ) {
  .sidebar {
    display: none;
  }
}

.sidebar__photo img, .header-mobile-menu__photo img {
 width: 300px;
 height: 180px;
}

.sidebar__avatar, .header-mobile-menu__avatar {
  border: 2px solid #FFFFFF;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.25);
  border-radius: 100%;  
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  margin-top: -50px;
}

.sidebar__avatar img, .header-mobile-menu__avatar img {
  position: absolute;
  left: 50%; /* +40px */
  top: 50%; /* +40px */
  transform: translate(-50%, -50%); /* -65px, -50px */
  width: 150px;
}

.sidebar__info, .header-mobile-menu__info {
  text-align: center;
  margin-top: 20px;
}


.sidebar__name, .header-mobile-menu__name {
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.sidebar__about, .header-mobile-menu__about {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #DEDEDE;
  margin-top: 3px;
}

.sidebar__icons {
  display: flex;
  justify-content: center;
  margin-top: 17px;
}

.sidebar__icons img {
  width: 25px;
  height: 25px;
  margin: 0 7.5px;
}

.sidebar__text {
  padding: 0 20px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 60px;
  padding-bottom: 30px;
  border-bottom: 1px solid #1C1C1C;
}

.sidebar__buttons, .header-mobile-menu__buttons {
  display: flex;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin-top: 30px;
  padding: 0 20px;
  justify-content: space-between;
}

.sidebar__button {
  width: 120px;
  height: 40px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s background;
  color: #fff;
  border: none;
}

.sidebar__button--portfolio {
  background-color: rgba(237, 48, 36, 1);
}

.sidebar__button--portfolio:hover {
  background: rgba(237, 48, 36, 0.7);
}

.sidebar__button--contact-me {
  background-color: rgba(49, 55, 201, 1);
}

.sidebar__button--contact-me:hover {
  background-color: rgba(49, 55, 201, 0.7);
}

