.add-post__icons {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

.add-post__icon {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
}

.add-post__icon-photo {
  background: rgba(235, 235, 235, 1);
  margin: 0 15px;
}

.add-post__icon-send {
  background:rgba(49, 55, 201, 1) ;
}