.header-mobile-menu__buttons {
  display: flex;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  padding: 0 20px;
  justify-content: space-between;
  margin-top: 55px;
  margin-bottom: 70px;
}

.header-mobile-menu__button {
  width: 120px;
  height: 40px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s background;
  color: #fff;
  border: none;
}

.header-mobile-menu--portfolio {
  background-color: rgba(237, 48, 36, 1);
}

.header-mobile-menu--portfolio:hover {
  background: rgba(237, 48, 36, 0.7);
}

.header-mobile-menu--contact-me {
  background-color: rgba(49, 55, 201, 1);
}

.header-mobile-menu--contact-me:hover {
  background-color: rgba(49, 55, 201, 0.7);
}