.header-mobile-menu  {
  left: -300px;
  position: fixed;
  width: 300px;
  top: 0;
  height: 100%;
  background-color: black;
  margin-top: 40px;
  z-index: 1;
  transition: 0.5s left;
}

.header-mobile-menu.is-active {
  left: 0px;
}

.header-mobile-menu__name {
  font-size: 15px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.header-mobile-menu__about {
  margin: 3px 10px 0 0;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #DEDEDE;
  margin-top: 3px;
}

.header-mobile-menu-main-information {
  display: flex;
  align-items: center;
  margin-top: -15px;
}

.header-mobile-menu__info {
  text-align: center;
  margin-top: 20px;
}