.post {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  background: rgba(32, 32, 32, 1);
  box-shadow: 0px 15px 25px rgb(0 0 0 / 35%);
  border-radius: 5px;
  width: 100%;
}

.post__text {
  color: rgba(210, 210, 210, 1);
  font-size: 14px;
  line-height: 21px;
  height: auto;
  width: auto;
  margin: 0px 27.78px 5px;
}

@media (max-width:850px) {
  .post__text {
    margin: 0 15px 5px;
  }
}

.post__text-one {
  margin-top: 25px;
}

.post__photo {
  display: flex;
  overflow: hidden;
  height: 270px;
  background-size: cover;
  background-position: center center;
}

.post__headline {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin: 25px 25px 17px ;
}

@media(max-width: 850px) {
  .post__headline {
    margin: 20px 15px 17px ;
  }
}


.post__photo-player {
 margin: auto;
}