.profile-content__items-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 210px;
}

.profile-content__item-input {
  color:rgb(255, 255, 255);
  border: none;
  background-color: #cdd0d300;
  cursor: pointer;
  outline: none;
  width: 90%;
  font-size: 14px;
  line-height: 16px;
  font-family: Roboto;
  margin: 0 0 25px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) ;
  padding: 10px 0px ;
}

.profile-content__item-input:focus  {
  box-shadow: 0 3px 5px -5px rgba(81, 203, 238, 1) ;
  border-bottom: 1px solid rgba(81, 203, 238, 1);
}