.profile-content__items-input {
  margin: 0px 110px 0 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 210px;
}

.profile-content__item-input {
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.2);
}

.active {
  color: #FFFFFF;
}